<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450766654552-j8rj3sjf9meceosncj5uvbv4ig71fbnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450766654552-j8rj3sjf9meceosncj5uvbv4ig71fbnp</string>
	<key>API_KEY</key>
	<string>AIzaSyAHRF8aFatvB23rc0BbP-y2qshxORhDYlY</string>
	<key>GCM_SENDER_ID</key>
	<string>450766654552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeremydionson.frontpage</string>
	<key>PROJECT_ID</key>
	<string>front-page-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>front-page-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450766654552:ios:8034b5a94b6a2615cbce2d</string>
</dict>
</plist>